@model VerticalculoWebsite.Models.UserProfile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem a certeza que pretende apagar o Utilizador <b>@Html.DisplayFor(model => model.UserName)</b>?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Apagar Utilizador" /> |
        @Html.ActionLink("Voltar", "ManageUsers")
    </p>
}
