@{
    ViewBag.Title = "Contactos";
    ViewBag.Message = "Contacte-nos";
}

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Telemóvel</h3>
    </header>
    <p>
        <span class="label">Telefone:</span>
        <span>249 123 456</span>
    </p>
    <p>
        <span class="label">Telemóvel:</span>
        <span>968 123 456</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span><a href="verticalulo_contabilidade@sapo.pt">verticalculo_contabilidade@sapo.pt</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Morada</h3>
    </header>
    <p>
        Rua Infante Sagres<br />
        nº 31 - 3º Dto. <br/>
        Entroncamento 2330-165
    </p>
</section>