@{
    ViewBag.Title = "Verticalculo";
}
@section featured {
   
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p id="lel">Esta pagina ainda se encontra em construção mas será alvo de quaisquer informações que a empresa Verticalculo deseje introduzir.</p>
            <p>Esta página funcionará como a introdução ao website</p>

            <p>Este website funcionará como que um ligação entre contabilistas da empresa verticalculo e os seus clientes.</p>
            <p>Estes poderao criar avenças referentes a um dado cliente e disponibiliza-las de modo a que os clientes as possam consultar</p>
            <p>Este website também será usado como que um meio de informação. Podendo os seus utilizadores consultar Noticias que sejam introduzidas por um Administrador</p>
            <p>Estas noticias tem como alvo a area da Fiscalidade e Legislação</p>

        </div>
    </section>
}
<h3>Content</h3>
<ol class="round">
    <li class="one">
        
    </li>

    <li class="two">
        
    </li>

    <li class="three">
        
    </li>
</ol>
