@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Erro</h1>
    <h2 class="error">Pedimos desculpa. Parece ter sucedido um erro inesperado</h2>
    <h3>Experimente voltar atrás e pedir ajuda ao apoio técnico, caso este erro persista</h3>
</hgroup>
