.bordered-div{
    border-style : solid;
    border-width : 5px;
    background-color : #cee6ed;
    max-height: 100%;
    max-width: 100%;
}

#master-div{
    width: 55%;
    height: 650px;
    border-color : darkcyan;
    margin: 0px auto;
    margin-top: 10px;
}

#input-div{
    border-color :dodgerblue;
    height : 7.5%;  
    padding-left : 1px;
}

#output-div { 
    border-color : cornflowerblue;
    height : 91%;
    overflow-y : auto;
    overflow-x : auto;
    padding : 10px;
}

.margins{
    margin-top : 0.5%;     
    margin-right : 0.5%;
    margin-left : 0.5%;
}

.span-radio {
    font-family : "Verdana";
    font-size : 20px;
    color : darkslategrey;
    margin-right : 10px;
}

#inputText{
    width:190%;
    margin-left : 3%;   
    margin-top:1%;
}

#inputBtn{
    margin-left : 203%;   
    margin-top:1%;
}

.colored{
    font-weight: bold;
    color : darkblue;
}

.bold{
    font-weight: bold;   
}
