.bordered-div{
    border-style : solid;
    border-width : 5px;
    background-image: url("../Imagens/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    max-height: 100%;
    max-width: 100%;
}

body{
    background-image: url("../Imagens/lel.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size:cover;
}

#master-div{
    width: 750px;
    height: 650px;
    border-color : #4F2E1B;
    margin: 0px auto;
    padding: 2px;
    margin-bottom: 50px;        
}

#input-div{
    width:99%;
    border-color :darkgoldenrod;
    border-width:3px;
    height : 7.5%;
    padding:2px;
}

#output-div { 
    border-color : darkgoldenrod;
    border-width:3px;
    width:96.8%;
    height : 86.5%;
    overflow-y : auto;
    overflow-x : auto;
    padding : 10px;
}

.span-radio {
    font-family: "Times New Roman";
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
    color : #333333;
}

.colored{
    font-size: 22px;
    font-weight: bold;
    color : #382014;
}

.table{
    display: table;   
}

.tablecell{
    display:table-cell;
}

#radioDiv{
    width: 40%;   
}

#textDiv{
    width: 40%;
    margin-right: 0.5%;
    margin-left: 1%;
}

#inputBtn{
    height: 50px;
    width: 95%;
    border-radius:5px;
    border-width: 3px;
    border-color: goldenrod;
    font-family: "Times New Roman";
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:gold;
    background-image: url("../Imagens/oldrock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;   
}

#inputBtn:hover {
    border-color: darkgoldenrod;   
}

#inputBtn:active {
    border-color: #4F2E1B;   
}

#inputText{
    border-width: 2px;
    border-color: #4F2E1B solid;
    font-family: "Times New Roman";
    font-size: 20px;
    color: black;
    height: 42px; 
    background: transparent;
    border: none;
    width:99%;
}

p{
    font-family: "Times New Roman";
    font-size: 20px;
    color: black;
}

h5{
    color:white;
    text-align: center;
}

#time-div{
    overflow: hidden;
    width: 750px;
    margin: 0px auto;
    opacity: 0;
}

#btnDiv{
    width:20%;
    margin-left: 1%;   
}

#radioDiv{
    margin-left: 1%;
}

.center{
    text-align:center;
}